# Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
/media
/staticfiles

# VS Code
.vscode/

# Environments
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Windows
Thumbs.db
